.App {
  text-align: center;
}

.companyName {
  color: white;
}

.pages {
  background-color: rgb(255, 255, 255);
  height: 500px;
  /* margin: ; */
  /* margin-top: 1px; */
}
/* 
.headerComponet {
  width: fit-content;
} */
